body{
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    /*background-color: black;*/
    overflow-x: hidden;
}
.part{
    height: 75vh;
    display: flex;
    flex-direction: column;
}

#navbar{
    width: 100vw;
    height:60px;
    display: flex;
    padding: 30px;
    align-items: center;

}
#navlogo img{

    height: 60px;
    width: auto;
    margin-left: 10px ;
}
#links{
   margin:auto 220px auto auto;
    display: flex;
    gap:20px;
   /* padding: 0px 100px 0px 0px;*/
    font-size: 18px;
}
.link{
    color: #e5e7eb;
    text-decoration: none;

}

#hero{
    display: flex;
    height:50vh;
    margin: auto 20px auto auto;

}

.image{
    border-radius: 8px;
    margin-right: 150px;
}
.two{
    background-color: #e5e7eb;

}
.hero.text{
    margin-right:100px ;
    margin-left: 400px;
}
.hero1{
    font-size: 68px;
    font-family: "Brush Script MT", cursive;
    color: #f9faf8;
}
.colortext{
    color: #0e5252;
}

.hero2{
    font-size: 20px;
    color: #3e9393;
    font-family: monospace;

}

.hero button{
    background-color: #3882f6;
    font-size: 15px;
    padding:8px 40px;
    border-radius: 8px;
    border-color: white;
    color: #f9faf8;
    font-family: "Arial Rounded MT Bold";

}

.hero.image:hover{
    box-shadow: 4px 4px 10px 1px teal;
}
/*PART TWO*/
.part.two{
    flex-flow: column;
}

.header{
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    font-family: "Franklin Gothic Medium";
    font-style: italic;
    font-size: 30px;
}

.headerphotos{

    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    gap:20px;


}
.subimage{
    display: flex;
    flex-direction: column;
}
.subimage img{

    height: 350px;
    margin-top: 40px;
    flex-direction: column;
    margin-bottom: 10px;
}

.subimage p{
    font-size:23px;
    padding-left: 120px;
    font-family:"Franklin Gothic Demi","serif";
    font-style: oblique;
    color: teal;
}
.subimage img:hover{
    box-shadow: 4px 4px 10px 1px red;
}

/*PART-3*/